*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'League Spartan', sans-serif;
font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20x; 
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color:#4b2302;
    /* font-weight: 750; */
}
.container{
    /* max-width: 1300px; */
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;

}
.col-2 h1{
font-size: 50px;
line-height: 60px;
margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}
.header{
    background: radial-gradient(#fff,#ffd6d6);
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom:30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
   transition: transform 0.5s;
}
.col-4 img{
    width: 100%;;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color:#555

    
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height:5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}

.checked {
    color: orange;
  }




h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}

.rating .fa{
    color: #ff523b;
}

.col-4:hover{
    transform: translateY(-10px);
}
/*--------offer-----*/

.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
      max-width: none;
}

.col-2 .offer-img{
padding: 50px;
}
small{
    color: #555;
}

/*-------testimonial---------*/

.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;

}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
    
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}


.fa-quote-left{
    font-size: 34px;
    color: #ff523b ;
}

/*-----------brands---------- */
.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
.col-5:hover{
    transform: translateY(-3px);
}
/*-------footer--------*/
/*------edited extra--------*/



.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 20px 0 20px 10px ;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
flex: 1;
text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}



/* ---------------------all products page ------------ */
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline:none;
}

.page-btn{
    margin:0 auto 80px;
}

.page-btn span{
display: inline-block;
border: 1px solid #ff523b;
margin-left:10px;
width:40px;
height:40px;
text-align:center;
line-height:40px;
cursor: pointer;
}

.page-btn span:hover{
background: #ff523b;
color: white;
}





/* ------media query for menu--------*/
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;

    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}









/* ------media query for mobile--------*/

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .single-product .row{
    text-align: left;
    }
    .single-product .col-2{
    padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p{
        display: none;
    }

}






/* ---------single product detail---------- */

.single-product{
    margin-top: 80px ;
    width: auto;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2 img{
    padding: 20px;
}

.single-product h4{
    margin: 20px;
    font-weight: bold;
}
.single-product select{
display: block;
padding: 10px;
margin-top:20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #fff;
}
input:focus{
    outline: none;
}
.single-product .fa{
    color: #ff523b;
    margin-left: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;

}


/* - -------cart item details------ */

.cart page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5PX;
    color: #fff;
    background: #ff523b;
    font-weight: normal;

}
td{
    padding: 20px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;

}
td a{
    color: #ff523b;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

/* -----------for About section page----------- */
#about {
    font-weight: 500;
    margin: 10px 50px 100px 50px;
    padding: 50px;
    border: dashed 3px;
    background-color: #b3f0f0;
    align-items: center;
    word-spacing: auto;
    
}




/* ----------contact info------ */







.contact{
    position: relative;
    min-height: 100vh;
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact .contnet{
    max-width: 1000px;
    text-align: center;
}
.contact .contnet h2{
    font-size: 36px;
    font-weight: 500;
    /* color: #fff; */
}
.contact .contnet p{
    font-weight: 500;
    /* color: #fff; */
}

    /* ye comment wala se footer bigad  rha hai */

.contacts{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-left: 100px;
}


.contacts .ContactInfo{

    width: 50%;
    display: flex;
    flex-direction: column;

}

.contacts .ContactInfo .box{
    position: relative;
    padding: 30px 0;
    display: flex;
}
.contacts .ContactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #ffa07a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    
}
.contacts .ContactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}
.contacts .ContactInfo .box .text{
    font-weight: 500;

}
.ContactForm{
    width: 30%;
    border: #000 solid 1px;
}
.ContactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.ContactForm .inputBox{
    position: relative;
    width: 230px;
    margin-top: 10px;
}

.ContactForm .inputBox input,
.ContactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.ContactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 3px 0;
    font-size: 16px;
    margin: 10px 0 ;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.ContactForm .inputBox input:focus ~ span,
.ContactForm .inputBox input:valid ~ span,
.ContactForm .inputBox textarea:focus ~ span,
.ContactForm .inputBox input:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);

}
.ContactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

/* -----------login page---------- */

.loginpage{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
}
.box{
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}
.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent,
    #45f3ff,#45f3ff,#45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent,
    #45f3ff,#45f3ff,#45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
.borderLine{
    position: absolute;
    top: 0;
    inset: 0;
}
.borderLine::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent,
    #ff2770,#ff2770,#ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;  
    animation-delay: -1.5s;
}
borderLine::before{
content: '';
position: absolute;
top: -50%;
left: -50%;
width: 380px;
height: 420px;
background: linear-gradient(0deg,transparent,transparent,
#ff2770,#ff2770,#ff2770);
z-index: 1;
transform-origin: bottom right;
animation: animate 6s linear infinite;  
animation-delay: -4.5s;
}

@keyframes animate{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }

}




.box form{
    
    position: absolute;
    inset: 4px;
    background: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.box form h2{
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.box form .inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.box form .inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}
.box form .inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span{
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);
}
.box form .inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}
.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i{
    height: 44px;
}
.box form .links{
display: flex;
justify-content: space-between;
}
.box form .links a{
    margin: 10px;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}
.box form .links a:hover,
.box form .links a:nth-child(2){
    color: #fff;
}

.box form input[type="Submit"]{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #fff;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
}
.box form input[type="Submit"]:active{
    opacity: 0.8;
}














    
   
    
